doctype html
html(lang='en')
    include /admin/header
    body
        include /admin/navbar
        #main-content
            .container
                .footer-tools
                    span.go-top
                        i.fa.fa-chevron-up
                        | Top

        include /admin/js
