script(src='/public/admin/js/jquery/jquery-2.0.3.min.js')
script(src='/public/admin/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')

script(src='/public/admin/bootstrap-dist/js/bootstrap.min.js')

script(src='/public/admin/js/bootstrap-daterangepicker/moment.min.js')
script(src='/public/admin/js/bootstrap-daterangepicker/daterangepicker.min.js')

script(src='/public/admin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js')
script(src='/public/admin/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.min.js')
script(src='/public/admin/js/jQuery-slimScroll-1.3.0/slimScrollHorizontal.min.js')

script(src='/public/admin/js/jQuery-BlockUI/jquery.blockUI.min.js')
script(src='/public/admin/js/sparklines/jquery.sparkline.min.js')

script(src='/public/admin/js/jquery-easing/jquery.easing.min.js')
script(src='/public/admin/js/easypiechart/jquery.easypiechart.min.js')

script(src='/public/admin/js/flot/jquery.flot.min.js')
script(src='/public/admin/js/flot/jquery.flot.time.min.js')
script(src='/public/admin/js/flot/jquery.flot.selection.min.js')
script(src='/public/admin/js/flot/jquery.flot.resize.min.js')
script(src='/public/admin/js/flot/jquery.flot.pie.min.js')
script(src='/public/admin/js/flot/jquery.flot.stack.min.js')
script(src='/public/admin/js/flot/jquery.flot.crosshair.min.js')

script(src='/public/admin/js/jquery-todo/js/paddystodolist.js')
script(src='/public/admin/js/timeago/jquery.timeago.min.js')
script(src='/public/admin/js/fullcalendar/fullcalendar.min.js')
script(src='/public/admin/js/jQuery-Cookie/jquery.cookie.min.js')

script(src='/public/admin/js/select2/select2.min.js')
script(src='/public/admin/js/bootstrap-inputmask/bootstrap-inputmask.min.js')

script(src='/public/admin/js/datatables/media/js/jquery.dataTables.min.js')
script(src='/public/admin/js/datatables/media/assets/js/datatables.min.js')
script(src='/public/admin/js/datatables/extras/TableTools/media/js/TableTools.min.js')
script(src='/public/admin/js/datatables/extras/TableTools/media/js/ZeroClipboard.min.js')

script(src='/public/admin/js/script.js')
script.
  jQuery(document).ready(function() {
  App.setPage("index");  //Set current page
  App.init(); //Initialise plugins and elements
  });
script.
    jQuery(document).ready(function() {
      App.setPage("dynamic_table");  //Set current page
      App.init(); //Initialise plugins and elements
      });
