doctype html
html
    include header
    body
        include navbar
        .tp-wrapper.no-bottom-margin
          .tp-banner-container
            .tp-banner
              ul
                li(data-transition='fade', data-slotamount='15', data-masterspeed='1500')
                  img(src='/public/img/slider/slide-1-1.jpg', alt='slidebg3', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
                  .tp-caption.regular.lft(data-x='150', data-y='55', data-speed='600', data-start='1000', data-easing='Back.easeOut', data-endspeed='300')
                    b Eberhardt 
                    | School of Business 
                    b Student 
                    | Investment Fund
                  .tp-caption.regular.sfl(data-x='225', data-y='120', data-speed='600', data-start='1500', data-easing='Back.easeOut', data-endspeed='300')
                    img(src='/public/img/slider/slide-4-2.png', alt='mobile devices')
                li(data-transition='fade', data-slotamount='7', data-masterspeed='1500')
                  img(src='/public/img/slider/slide-2-1.jpg', alt='slidebg2', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
                  .tp-caption.regular.lft(data-x='0', data-y='80', data-speed='600', data-start='1000', data-easing='Back.easeOut', data-endspeed='300')
                    b We 
                    | Use 
                    b Bloomberg&trade;
                    br
                    | To Manage Our Portfolio&period;
                  .tp-caption.sfr(data-x='520', data-y='45', data-speed='600', data-start='1500', data-easing='Back.easeOut', data-endspeed='300')
                    img(src='/public/img/slider/bterm.png', alt='slider image')
                  .tp-caption.list-left.sfl(data-x='0', data-y='170', data-speed='600', data-start='2200', data-easing='Back.easeOut', data-endspeed='300')
                    p Investment
                  .tp-caption.list-left.sfl(data-x='0', data-y='230', data-speed='600', data-start='2500', data-easing='Back.easeOut', data-endspeed='300')
                    p Decisions
                  .tp-caption.list-left.sfl(data-x='0', data-y='290', data-speed='600', data-start='2700', data-easing='Back.easeOut', data-endspeed='300')
                    p Team Work
                li(data-transition='fade', data-slotamount='7', data-masterspeed='1500')
                  img(src='/public/img/slider/slide-4-1.jpg', alt='slidebg1', data-bgfit='cover', data-bgposition='left top', data-bgrepeat='no-repeat')
                  .tp-caption.background.lft(data-x='225', data-y='140', data-speed='600', data-start='1000', data-easing='Back.easeOut', data-endspeed='300')
                    | We Invest In Not Only 
                    b Stocks
                    | &comma; But In Our 
                    b Futures
                    | &period;
                  .tp-caption.background.paragraph.lfb(data-x='345', data-y='220', data-speed='600', data-start='2000', data-easing='Back.easeOut', data-endspeed='500')
                    | Check Out Our 
                    b Meet The Team 
                    | Page And Get To Know Us&period;
        section.page-content.background-black
          .container
            .row
              article.grid_12
                .triggerAnimation.animated(data-animate='fadeInUp')
                  .note.no-bottom-margin
                    h4
                      | Welcome to the 
                      b Eberhardt 
                      | School of Business 
                      b Student 
                      | Investment Fund&period;
                      br
                      | We proudly represent the 
                      b University of The Pacific
                      | &period;
                    a.btn-medium.empty.white(href='/company/about') Learn More
        section.page-content.parallax.parallax-4
          .container
            .row
              article.grid_8
                .triggerAnimation.animated(data-animate='fadeInDown')
                  h1
                    | We&comma; 
                    b The Students
                    | &comma; Manage A 
                    b &dollar;2&period;9 Million 
                    | Portfolio&period;
                  p
                    | Two hundred of the 9&comma;000 business schools worldwide operate a student
                    | investment fund&period; In the 
                    b Eberhardt 
                    | SIF&comma; students do research and evaluation&comma;
                    | write reports&comma; and make choices regarding where and how to invest the fund&apos;s
                    | money&period; This is not a virtual investment or portfolio&semi; this is real money and
                    | real investments&period;
                  br
                  a.btn-medium.empty(href='/company/about') Learn More
              article.grid_4
                .triggerAnimation.animated(data-animate='fadeInUp')
                  img(src='/public/img/pictures/sif-screen.png', alt='SIF Screen')
        section.page-content
          .container
            .row
              article.grid_3
                img.triggerAnimation.animated(src='/public/img/pictures/ceo.png', alt='CEO', data-animate='fadeInLeft')
              article.grid_6
                .triggerAnimation.animated(data-animate='fadeInLeft')
                  section.heading-bordered
                    h3
                      | Quick 
                      b Overview
                  ul.services-overview
                    li
                      h5 How We Got Started
                      p
                        | The University of The Pacific&apos;s 
                        b Eberhardt 
                        | School of Business 
                        b Student 
                        | Investment Fund was 
                        | established in 2007 with a generous &dollar;1&comma;000&comma;000 
                        | gift from the Bank of Stockton&apos;s CEO&comma; 
                        b
                          | Mr&period; Douglass 
                          | Eberhardt
                        | &period;  The major goal was to 
                        | offer dedicated and dynamic undergraduate and graduate 
                        | students the opportunity to gain exposure 
                        | to the world of investing&period;
                    li
                      h5 Who Runs Our Fund
                      p
                        | We are a select group of students who learn how to
                        | scrupulously analyze potential investments
                        | and use the same financial techniques professional
                        | investors use&period; In addition&comma; we learn the
                        | finer points of portfolio management by taking
                        | responsibility for individual S&amp;P500 sectors and
                        | analyzing fit within the greater portfolio&period;
              article.grid_3
                .triggerAnimation.animated(data-animate='fadeInRight')
                  section.heading-bordered
                    h3
                      | Some 
                      b Statistics
                  ul.numbers-counter
                    li
                      span &dollar;2&period;9 M
                      p Portfolio
                    li
                      span.timer.number(data-to='1578', data-speed='2000') 1578
                      p Stocks
                    li
                      span.timer.number(data-to='879', data-speed='2000') 879
                      p Partners
                    li
                      span.timer.number(data-to='120', data-speed='2000') 120
                      p Countries
        include footer
        // Social Networks Feeds
        script(data-loaded='true').
          /* <![CDATA[ */
          jQuery(document).ready(function($) {
          'use strict';
          //REVOLUTION SLIDE
          var revapi;
          revapi = jQuery('.tp-banner').revolution(
          {
          delay: 5000,
          startwidth: 1170,
          startheight: 500,
          hideThumbs: 10,
          fullWidth: "on",
          forceFullWidth: "on",
          navigationType: "none" // bullet, thumb, none
          });
          $('.numbers-counter').waypoint(function() {
          // NUMBERS COUNTER START
          $('.numbers').data('countToOptions', {
          formatter: function(value, options) {
          return value.toFixed(options.decimals).replace(/\\B(?=(?:\d{3})+(?!\d))/g, ',');
          }
          });
          // start timer
          $('.timer').each(count);
          function count(options) {
          var $this = $(this);
          options = $.extend({}, options || {}, $this.data('countToOptions') || {});
          $this.countTo(options);
          } // NUMBERS COUNTER END
          },
          {offset: '70%'}
          );
          // PRETTYPHOTO LIGHTBOX START
          if (jQuery().prettyPhoto) {
          piPrettyphoto();
          }
          function piPrettyphoto() {
          $("a[data-gal^='prettyPhoto']").prettyPhoto({social_tools: false});
          }// PRETTYPHOTO LIGHTBOX END
          //PORTFOLIO CAROUSEL
          //  Responsive layout, resizing the items
          $('#portfolio-carousel').carouFredSel({
          responsive: true,
          width: '100%',
          height: '100%',
          auto: false,
          scroll: 1,
          prev: '.c_prev_2',
          next: '.c_next_2',
          items: {
          width: 400,
          height: '100%',
          visible: {
          min: 1,
          max: 4
          }
          }
          });
          //  Responsive layout, resizing the items
          $('#testimonial-carousel').carouFredSel({
          responsive: true,
          width: '100%',
          auto: true,
          scroll: 1,
          swipe: {
          onMouse: true,
          onTouch: true
          },
          items: {
          width: '770',
          height: 'variable',
          visible: {
          min: 1,
          max: 1
          }
          }
          });
          //  Responsive layout, resizing the items
          $('#testimonial-carousel-2').carouFredSel({
          responsive: true,
          width: '100%',
          auto: true,
          scroll: 1,
          swipe: {
          onMouse: true,
          onTouch: true
          },
          items: {
          width: '370',
          height: 'variable',
          visible: {
          min: 1,
          max: 1
          }
          }
          });
          //  Responsive layout, resizing the items
          $('#testimonial-carousel-3').carouFredSel({
          responsive: true,
          width: '100%',
          auto: true,
          scroll: 1,
          swipe: {
          onMouse: true,
          onTouch: true
          },
          prev: '.c_prev',
          next: '.c_next',
          items: {
          width: '1170',
          height: 'variable',
          visible: {
          min: 1,
          max: 1
          }
          }
          });
          //  Responsive layout, resizing the items
          $('#testimonial-carousel-4').carouFredSel({
          responsive: true,
          width: '100%',
          auto: true,
          scroll: 1,
          swipe: {
          onMouse: true,
          onTouch: true
          },
          prev: '.c_prev_2',
          next: '.c_next_2',
          items: {
          width: '1170',
          height: 'variable',
          visible: {
          min: 1,
          max: 1
          }
          }
          });
          /* ================ INSTAGRAM FEED ================ */
          $('.instagram-feed').socialstream({
          socialnetwork: 'instagram',
          limit: 16,
          username: 'cisco',
          overlay: true
          });
          });
          /* ]]> */

