doctype html
html
    include ../header
    body
        include ../navbar
        // #page-title start
    section#page-title.page-title-1(data-stellar-background-ratio='0.5')
      .container
        .row
          .grid_8
            .pt-title.triggerAnimation.animated(data-animate='fadeInLeft')
              h1
                | We are&nbsp;
                span.strong Creative&nbsp;
                | web agency
                br
                | and leaders in Web design industry&period;
          // .grid_8 end
          // .grid_4 start
          .grid_4
            .pt-image-container
              .pt-image.triggerAnimation.animated(data-animate='fadeInRight')
          // .grid_4 end
        // .row end
        .row
          .grid_8
            .breadcrumbs.triggerAnimation.animated(data-animate='fadeInUp')
              ul
                li
                  span You are here&colon;
                li
                  a(href='/company') Company &sol;
                li
                  span.active About us
      // .container end
    // #page-title end
    // .page-content start
    section.page-content
      // .container start
      .container
        // .row start
        .row
          .grid_6
            .triggerAnimation.animated(data-animate='fadeInLeft')
              section#slider.nivoSlider
                img(src='/public/img/members/spring-2014/sif-spring-2014.jpg', alt='about us slider image')
                img(src='/public/img/members/fall-2013/sif-fall-2013.jpg', alt='about us second slider image')
                img(src='/public/img/members/spring-2013/sif-spring-2013.jpg', alt='about us third slider image')
              // .nivoSlider end
            // .triggerAnimation.animated end
            br
            br
            .triggerAnimation.animated(data-animate='fadeInRight')
              section.heading-bordered
                h3
                  b SIF&nbsp;
                  | Overall
              // .heading-bordered end
            // .triggerAnimation.animated end
            .triggerAnimation.animated(data-animate='fadeInLeft')
              article.testimonial
                .testimonial-text
                  p
                    | The continuance of the SIF is a primary
                    | objective and should be taken into account
                    | in every decision&period;  The SIF is a long-term
                    | project of the University and should not be
                    | thought of as a semester-long project&period;  The
                    | continual growth of the SIF will reflect
                    | credit on both past and present members&comma; in
                    | addition to the University&period;  It is in the
                    | best interest of the University and its general
                    | student body for the SIF to continue to grow&period;
              // .testimonial end
            // .triggerAnimation.animated end
          // .grid_6 end
          // .grid_6 start
          article.grid_6
            .triggerAnimation.animated(data-animate='fadeInRight')
              section.heading-bordered
                h3
                  b About&nbsp;
                  | Us
              // .heading-bordered end
              p
                | Welcome to the Eberhardt School of Business
                | Student Investment Fund&period; The philosophies of
                | the SIF are intended to guide the students as
                | they move their way through the semesters and
                | to give the students a backbone of support
                | during economic downturns&period;
              br
              br
              ul.services-overview
                li
                  h5 Independence and Objectivity
                  p
                    | Members of the SIF must take reasonable care
                    | to ensure their independence and objectivity
                    | in analysis and recommendations&period;  All
                    | recommendations given by SIF members reflect
                    | their personal objective decisions and should
                    | only be influenced by the evidence gathered
                    | and outcomes reached through independent research&period;
                    | All SIF members and faculty are encouraged to
                    | assist other members with research and analysis&comma;
                    | as long as member objectivity is not compromised&period;
                li
                  h5 Loyalty and Care
                  p
                    | Members and faculty have a duty of loyalty to the
                    | University and themselves to act with reasonable
                    | judgement and prudent care for the SIF and its
                    | supervising boards&period;  Members must act for the
                    | benefit of the University&comma; the SIF and its
                    | supervising boards&comma; and must promote a positive
                    | image for the SIF that reflects the Fund&apos;s
                    | philosophy and objectives&period;
                li
                  h5 Learning and Growing
                  p
                    | The SIF is a learning environment and should be
                    | treated as such&period;  All opinions and recommendations
                    | will be given proper respect and thought before
                    | any judgment is passed&period;  The SIF is not a revenue
                    | source for the University&period;  As such&comma; any losses
                    | or gains will be scrutinized and causes will be
                    | extracted for learning purposes&period;
            // .triggerAnimation.animated end
          // .grid_6 end
        // .row end
      // .container end
    // .page-content end
    // .page-content.parallax start
    section.page-content.parallax.parallax-5
          .container
            .row
              section.grid_12
                section.heading-centered.triggerAnimation.animated(data-animate='bounceIn')
                  h2
                    | Our&nbsp;
                    b Investment&nbsp;
                    | Process
                  p
                    | The&nbsp;
                    b Eberhardt&nbsp;
                    | School of Business&nbsp;
                    b Student&nbsp;
                    | Investment Fund Engages In&nbsp;
                    b Long Term&nbsp;
                    | Investments&period;
            .row
              article.grid_4
                .triggerAnimation.animated(data-animate='fadeInLeft')
                  section.process-box
                    .img-container
                      img(src='/public/img/pictures/development-4.png', alt='Independence and Objectivity')
                    h5 Independence and Objectivity
                    p
                      | Members of the SIF must take reasonable care to
                      | ensure their independence and objectivity in analysis
                      | and recommendations&period;  All recommendations given by SIF
                      | members reflect their personal objective decisions and
                      | should only be influenced by the evidence gathered and
                      | outcomes reached through independent research&period;
              article.grid_4
                .triggerAnimation.animated(data-animate='fadeInUp')
                  section.process-box
                    .img-container
                      img(src='/public/img/pictures/development-6.png', alt='Put it in Action')
                    h5 Put it in Action
                    p
                      | Your text here&period;
              article.grid_4
                .triggerAnimation.animated(data-animate='fadeInRight')
                  section.process-box
                    .img-container
                      img(src='/public/img/pictures/development-5.png', alt='Continual Growth')
                    h5 Continual Growth
                    p
                      | The continuance of the SIF is a primary objective and
                      | should be taken into account in every decision&period;  The SIF
                      | is a long-term project of the University and should not
                      | be thought of as a semester-long project&period;  The continual
                      | growth of the SIF will reflect credit on both past and
                      | present members&comma; in addition to the University&period;  It is
                      | in the best interest of the University and its general
                      | student body for the SIF to continue to grow&period;

            // .row start
            .row
              article.grid_12
                section.heading-centered.triggerAnimation.animated(data-animate='bounceIn')
                  h2
                    | Our path to&nbsp;
                    b Perfection
                  p It was a long journey to come where we are now&period; Here is how we started&period;
              // .grid_12 end
            // .row end
            // .row start
            .row
              // .grid_5 start
              article.grid_5
                .triggerAnimation.animated(data-animate='fadeInLeft')
                  section.history
                    .year-holder
                      .inner-holder
                        span.year 2011
                    h4 Bringing team together
                    p
                      | We were just two creative individuals trying to make a
                      | living from our greatest passion&comma; web development&period;
                // .triggerAnimation.animated end
              // .grid_5 end
              article.grid_2
                .triggerAnimation.animated(data-animate='fadeInDown')
                  .history-arrow-right
                // .triggerAnimation.animated end
              // .grid_2 end
              // .grid_5 start
              article.grid_5
                .triggerAnimation.animated(data-animate='fadeInRight')
                  section.history
                    .year-holder
                      .inner-holder
                        span.year 2012
                    h4 Our first successful project
                    p
                      | We made our first step to success by successfully
                      | finished our first web development project&period;
                // .triggerAnimation.animated end
              // .grid_5 end
            // .row end
            // .row start
            .row
              // .grid_5 start
              article.grid_5
                .triggerAnimation.animated(data-animate='fadeInLeft')
                  section.history
                    .year-holder
                      .inner-holder
                        span.year 2014
                    h4 Writing the future
                    p
                      | The year has just started and there is a lot
                      | work and new projects to do&period;
                // .triggerAnimation.animated end
              // .grid_5 end
              article.grid_2
                .triggerAnimation.animated(data-animate='fadeInDown')
                  .history-arrow-left
                // .triggerAnimation.animated end
              // .grid_2 end
              // .grid_5 start
              article.grid_5
                .triggerAnimation.animated(data-animate='fadeInRight')
                  section.history
                    .year-holder
                      .inner-holder
                        span.year 2013
                    h4 Leading company in web development
                    p
                      | Hard work&comma; many sleepless nights and great
                      | passion for what we do&comma; made us leading company in web industry&period;
                // .triggerAnimation.animated end
              // .grid_5 end
            // .row end
          // .container end
        // .page-content.parallax.parallax-2 end
    section.page-content
      // .container start
      .container
        // .row start
        .row
          .grid_12
            .triggerAnimation.animated(data-animate='fadeInDown')
              section.heading-bordered.clearfix
                h3
                  | Our&nbsp;
                  b Investments
              // .heading-bordered end
              ul#client-carousel.carousel-li
                  each sector, key in sectors
                    li
                      a(href='/portfolio/sectors/' + sector.abbrv)
                        img(src=sector.img, alt='client image')
              .carousel-nav-container
                ul.carousel-nav
                  li
                    a.c_prev(href='#')
                  li
                    a.c_next(href='#')
            // .triggerAnimation.animated end
        // .row end
      // .container end
    // .page-content end
    include ../footer
    // jQuery custom options
    script.
      /* <![CDATA[ */
      jQuery(document).ready(function($) {
      'use strict';
      $('.skills-bar').waypoint(function() {
      $('.skills li span').addClass('expand');
      },
      {offset: '70%'}
      );
      // Easy Pie Chart plugin - skills
      var chartSize = '110';
      $('.load-skills').waypoint(function() {
      $('.easy-pie-chart').easyPieChart({
      animate: 1000,
      scaleColor: false,
      lineWidth: 3,
      lineCap: 'square',
      size: chartSize,
      trackColor: '#e5e5e5',
      barColor: '#727c89'
      });
      },
      {offset: '60%'}
      );
      //  Responsive layout, resizing the items
      $('#testimonial-carousel').carouFredSel({
      responsive: true,
      width: '100%',
      auto: true,
      scroll: 1,
      swipe: {
      onMouse: true,
      onTouch: true
      },
      items: {
      width: '370',
      height: 'variable',
      visible: {
      min: 1,
      max: 1
      }
      }
      });
      //  Responsive layout, resizing the items
      $('#client-carousel').carouFredSel({
      responsive: true,
      width: '100%',
      height: '100%',
      auto: false,
      scroll: 1,
      swipe: {
      onMouse: true,
      onTouch: true
      },
      prev: '.c_prev',
      next: '.c_next',
      items: {
      width: 170,
      height: '100%',
      visible: {
      min: 1,
      max: 6
      }
      }
      });
      });
      /* ]]> */
    script(data-loaded='true').
      /* <![CDATA[ */
      jQuery(document).ready(function($) {
      'use strict';
      //NIVO SLIDER
      $('#slider').nivoSlider();
      /* ================ INSTAGRAM FEED ================ */
      $('.instagram-feed').socialstream({
      socialnetwork: 'instagram',
      limit: 16,
      username: 'cisco',
      overlay: true
      });
      });
      /* ]]> */
