// TODO: Make the users come form a list
doctype html
html
    include ../header
    body
      include ../navbar
      section#page-title.page-title-1.no-image(data-stellar-background-ratio='0.5')
      .container
        .row
          .grid_12
            .pt-title.triggerAnimation.animated(data-animate='fadeInLeft')
              h1
                | Meet The
                span.strong Students
                br
                | Who Manage The Fund.
        .row
          .grid_8
            .breadcrumbs.triggerAnimation.animated(data-animate='fadeInUp')
              ul
                li
                  span You are here:
                li
                  a(href='/company') Company /
                li
                  a(href='/company/team') Team /
                li
                  span.active Fall 2013
    section.page-content
      .container
        .row
          aside.grid_3.aside-left.triggerAnimation.animated(data-animate='fadeInLeft')
            ul.aside_widgets
              li.widget.widget_search
                h6 Member Search
                form(action='#', method='get')
                  input#a_search(name='s', type='text', placeholder='Type and hit enter...')
                  input.search-submit(type='submit')
              li.widget.widget_categories
                h6 Member Years
                ul
                  li
                    a(href='#') Spring 2014
                  li
                    a(href='/company/team/fall-2013') Fall 2013
                  li
                    a(href='#') Spring 2013
                  li
                    a(href='#') Fall 2012
                  li
                    a(href='#') Spring 2012
                  li
                    a(href='#') Fall 2011
                  li
                    a(href='#') Spring 2011
                  li
                    a(href='#') Fall 2010
          article.grid_9.triggerAnimation.animated(data-animate='fadeInRight')
            section.heading-bordered
              h3 Student Investment Fund - Fall 2013
            section
              img(src='/public/img/members/fall-2013/sif-fall-2013.jpg', alt='SIF- Fall 2013', align='middle')
            p
            p
    section.page-content
      .container
        .row
          .triggerAnimation.animated(data-animate='fadeInUp')
            section.heading-bordered
              h3 Meet The Team - Fall 2013
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/wouyang.jpg', alt='Wenjing Ouyang')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Wenjing Ouyang
                span.position Faculty Advisor
                p
                  | Dr. Wenjing Ouyang is an Assistant Professor of
                  | Finance at the Eberhardt School of Business at
                  | the University of the Pacific. Dr. Ouyang holds
                  | a PhD in Finance from Drexel
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='mailto:wouyang@pacific.edu')
                  li
                    a.icon-phone(href='tel:+12099463910')
                  li
                    a.pixons-linkedin(href='http://www.linkedin.com/pub/wenjing-ouyang/16/357/b68')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/ecederwall.jpg', alt='Erik Cederwall')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='./member.php?u=Cooper%20Rogers')
                  h6 Erik Cederwall
                span.position Chief Executive Officer
                p
                  | Erik Cederwall, originally from Stockholm,
                  | Sweden, is a senior at the University of the Pacific,
                  | majoring in Applied Economics. At Pacific, Erik is
                  | is a member of the NCAA
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/lvaughan.jpg', alt='Leslie Vaughan')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Leslie Vaughan
                span.position Consumer Discretionary Sector Analyst
                p
                  | Leslie Vaughan is a visiting Accounting Instructor
                  | here at the University of the Pacific. She is a
                  | licensed CPA and CMA.  This is her second semester
                  | in SIF.  She was a
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/ale.jpg', alt='Andy Le')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Andy Le
                span.position Portfolio Manager
                p
                  | Andy Le is an international student from Vietnam.
                  | He has been living in the US for almost 5 years
                  | and spent all 4 years of college in Orange County,
                  | Southern California.
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
        .row
          .triggerAnimation.animated(data-animate='fadeInUp')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/sli.jpg', alt='Sueno Li')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Sueno Li
                span.position Chief Economist & Consumer Staples Sector Analyst
                p
                  | Mengfan Li earned her Bachelor’s degree from
                  | Zhengzhou University in China, and is currently
                  | pursuing her MBA degree from the University of
                  | the Pacific, which will be
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/afalcon.jpg', alt='Adam Falcon')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Adam Falcon
                span.position Chief Operating Officer & Fixed Income Analyst
                p
                  | Adam Falcon is currently a senior pursuing a
                  | degree in applied economics and minoring in
                  | business administration.  He joined the Student
                  | Investment Fund in order to
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/clopez.jpg', alt='Christopher Lopez')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Christopher Lopez
                span.position Risk Management Officer & Financial Sector Analyst
                p
                  | Christopher Lopez is currently a senior at
                  | University of the Pacific, where he is
                  | pursuing a Bachelor’s Degree in Business
                  | Administration. Chris has worked in the
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/nchou.jpg', alt='Nicole Chou')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Nicole Chou
                span.position Assistant Marketing Officer & Utilities Sector Analyst
                p
                  | Nicole Chou is currently a junior at University
                  | of the Pacific pursuing a Bachelors of Science
                  | degree in Business Administration with a
                  | concentration in Finance and
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
        .row
          .triggerAnimation.animated(data-animate='fadeInUp')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/gpannu.jpg', alt='Guneet Pannu')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Guneet Pannu
                span.position Chief Administrator & Materials Sector Analyst
                p
                  | Guneet Pannu is currently a senior at the
                  | University of the Pacific, pursuing a
                  | Bachelors of Science degree in Business
                  | Administration with a concentration in Finance.
                  | She is a
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/bgu.jpg', alt='Bonnie Gu')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Bonnie Gu
                span.position Chief Accountant & Industrial Sector Analyst
                p
                  | Bonnie Gu is an international student from
                  | Shanghai China. She gained her bachelors of
                  | Financial Management from Shanghai Normal
                  | University. She came to the
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/tferguson.jpg', alt='Trevor Ferguson')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Trevor Ferguson
                span.position Assistant Portfolio Manager & Energy Sector Analyst
                p
                  | Trevor is a senior at the University of the
                  | Pacific and is currently pursuing a Bachelor’s
                  | Degree in Business Administration with
                  | concentrations in both Finance and
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/crogers.jpg', alt='Cooper Rogers')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Cooper Rogers
                span.position Chief Marketing Officer & Financial Sector Analyst
                p
                  | Cooper Rogers is currently a senior, working
                  | towards a degree in Business Administration
                  | with a concentration of Finance. Cooper is an
                  | international student from Perth, Australia
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
        .row
          .triggerAnimation.animated(data-animate='fadeInUp')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/jtai.jpg', alt='Joshua Tai')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Joshua Tai
                span.position Health Care Sector Analyst
                p
                  | Josh is a current PharmD/MBA student completing
                  | his undergrad here at Pacific with a B.S. in
                  | Biochemistry. He is an American born Chinese
                  | with parents immigrating from
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/osimkovic.jpg', alt='Oliver Simkovic')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Oliver Simkovic
                span.position Assistant CEO & Technology Sector Analyst
                p
                  | Oliver Simkovic is a senior at University of
                  | the Pacific double majoring in Applied Economics
                  | and Finance. Oliver is an international student
                  | from Vienna, Austria and he is a
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
            article.grid_3
              section.team
                .team-img-container
                  a(href='aboutme.html')
                    img(src='/public/img/members/fall-2013/kjiang.jpg', alt='Kai Jiang')
                  .team-img-hover
                    a.mask(href='aboutme.html')
                a(href='aboutme.html')
                  h6 Kai Jiang
                span.position Chief Information Officer & Technology Sector Analyst
                p
                  | Kai is a second year MBA student of UOP,
                  | studying with a concentration in Technology
                  | Management and E-business. He has had one
                  | year working experience in a German
                  a(href='#') ...
                ul.team-social-links
                  li
                    a.icon-user(href='#')
                  li
                    a.icon-envelope(href='#')
                  li
                    a.icon-phone(href='tel:+12099463904')
                  li
                    a.pixons-linkedin(href='#')
    include ../footer
    //
       Social Networks Feeds
    script(data-loaded='true').
      /* <![CDATA[ */
      jQuery(document).ready(function($) {
      'use strict';
      //NIVO SLIDER
      $('#slider').nivoSlider();
      /* ================ INSTAGRAM FEED ================ */
      $('.instagram-feed').socialstream({
      socialnetwork: 'instagram',
      limit: 16,
      username: 'cisco',
      overlay: true
      });
      });
      /* ]]> */
